* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#main {
    display: flex;
}

#sidebar {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#sidebar>ul {
    list-style-type: none;
    margin-top: 30px;
}

#sidebar>img {
    width: 103px;
    height: 29px;
    margin: 40px 0px 0px 24px;
}

#sidebar>ul>li {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    color: #262626;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
   
    line-height: 24px;

}

#sidebar>ul>li>span {
    padding-right: 16px;
}

#main-scrollable-container {
   
    width: 80%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 30px;
}

#stories-section {
    display: flex;
    width: 50%;
    
    justify-content: space-between;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story > p {
    color: #262626;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.12px;
}

.stories-image {
    background-image: url("a_ring.jpg");
    height: 66px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories-image > img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
} 

footer {
    width: 319px;
     
    position: absolute;   
    top: 51px;
    right: 46px;
}

#user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-profile-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-profile-left > img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin-left: 17px;
}

#user-profile-left > div > h4 {
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

#user-profile-left > div > p {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
}

#user-profile > a{
    color: #0095f6;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
    
}

#footer_suggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

#footer_suggestions > h5 {
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

#footer_suggestions > a {
    color: #262626;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
}

#user_suggestions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.suggestion_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion_div_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.suggestion_userimg {
    height: 32px;
    width: 32px;
    background: #2d2d2d;
    border-radius: 50%;
    margin-left: 4px;
}

.suggestion_div_left > div > h4 {
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.suggestion_div_left > div > p {
    color: #8e8e8e;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}

.suggestion_div > a {
    color: #0095f6;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
}

#footer_links {
    margin-top: 24px;
}

#footer_links > a {
    color: #c7c7c7;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

#footer_copyright {
    color: #c7c7c7;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 20px;
}
